<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap-flex.css">
    </head>
    <body>
    <div class="container">
    <h1> Contact Manager</h1>
    <hr/>
    <div class="page">

    </div>
</div>
<script type="text/template" id="user-list-template">
<table class="table stripped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%  _.each(Users, function(user) { %>
      <tr>
        <td><%= user.get('firstname') %></td>
        <td><%= user.get('lastname') %></td>
        <td><%= user.get('age') %></td>
        <td></td>

      </tr>

  <%  }); %>
  </tbody>
</table>

</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js" ></script>
    <script >

      var Users = Backbone.Collection.extend({
      url : '/users/get'
      });

    var UserList = Backbone.View.extend({
      el: '.page',
      render: function(){
      var that=this;
      var users = new Users();
      users.fetch({
         success: function(users){
           var template= _.template($('#user-list-template').html(), {users: users.models});
            that.$el.html(template);
         }
       });



     }

   });

    var Router = Backbone.Router.extend({
      routes: {
        '': 'home'
      }
    });


    var userList = new UserList();

   var router = new Router();
   router.on('route:home', function() {
      userList.render();

    });
   Backbone.history.start();

    </script>
  </body>
</html>
