<!DOCTYPE html>
<html>
<head>
	<title>Backbone js Application Example</title>
	<style>
		body{

		}
.Design{
		border-style: solid;
		border-color: white;
	 	border-width: 1px;
	 	float: left;
	 	width: 350px;
	 	height: 100px;
	 	margin: 0.2cm 0.2cm 0.2cm 0.2cm;
	 	display: inline-block;
	 /*float: left;
	   width: 125px;
	   text-align: right;
	   margin: 2px 10px;
	   display: inline;*/
}
	#new-work {

    text-align: center;
    }
	</style>
	 </head>
<body>
	<h1 style="color: blue; text-align: center;">Work Status Application</h1>
<!--Form for the new Book-->
				<form id="new-work" style="align: center;">
			 	<label for="">Work:</label><input type="text" id="work" name="work"/>
				<label>Status:</label><input type="text" id="status" name="status"/>
				<button>Post</button>
				</form>
			</hr>
			<div id="work-container"></div>
<!--Form end -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js" type="text/javascript"></script>
<script type="text/javascript">
(function($){
				var Work = Backbone.Model.extend({
					defaults: function(){
						return{
							work: 'Test',
							status: 'Test status',

						}
					}
				});
				var WorksCollection = Backbone.Collection.extend({
					model: Work
				});
				var worksCollection= new WorksCollection();
				// Here is the view of the given Model Date
				var WorkView = Backbone.View.extend({
					model: new Work(),
					tagName: 'div',
					events :{
						'click .edit' : 'edit',
						'click .delete': 'delete',
						'blur .status' : 'close',
						'keypress .status': 'onEnterUpdate'
					},
					initialize : function(){
						this.template = _.template($('#work-template').html());
					},
					edit: function(ev){
						ev.preventDefault();
						this.$('.status').attr('contenteditable', true).focus();

					},
					close: function(ev){
						var status= this.$('.status').text();
						this.model.set('status',status);
						this.$('.status').removeAttr('contenteditable');
					},
					onEnterUpdate : function(ev){
						var self= this;
						if(ev.keyCode===13){
							this.close();
							_.delay(function(){self.$('.status').blur},100)
						}
					},
					delete : function(ev){
						ev.preventDefault();
						worksCollection.remove(this.model);
					},
					render: function(){
						this.$el.html(this.template(this.model.toJSON()));
						return this;
					}

				});

				var WorksView = Backbone.View.extend({
					model : worksCollection,
					el : $('#work-container'),
					initialize : function(){
						this.model.on('add', this.render, this);
						this.model.on('remove', this.render, this);
					},
					render : function(){
						 var self= this;
						  self.$el.html('');
						_.each(self.model.toArray(), function(work, i){
							console.log(work);
						self.$el.append((new WorkView({model: work})).render().$el);
						});
						 return this;
					}
				});
				$(document).ready(function(){
					$('#new-work').submit(function(ev){
						var work1 = new Work({work: $('#work').val(), status: $('#status').val()});
						worksCollection.add(work1);
						console.log(worksCollection.toJSON());

						// The return false is giving bacause to make sure that the form is submitted
						return false;
					});

					var worksView = new WorksView();
				});

})(jQuery);

</script>

<script type="text/template" id="work-template">
	<div class="Design">
		<span class="work"><b>Work:</b>&nbsp<%= work %></span><br>
		<span class="status"><b>Status:</b>&nbsp<%= status %></span><br>

		<a href="#" class="edit">Edit</a>
		<a href="#" class="delete">Delete</a>
	</div>
</script>
</body>
</html>
