<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap-flex.css">
    </head>
    <body>
    <div class="container">
    <h1>Book Library</h1>
    <hr/>
    <div class="page"> </div>
  </div>
  <script type="text/template" id="user-list-template">
     
		<a href="#/new" class="btn btn-primary">New User</a>
			<h4> Testing Tempate</h4>
			<table class="table striped">
			<thead>
			<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Age</th>
			</tr>

			</thead>

			<tbody>

			<% _.each(users, function(user) { %>
				<tr>
				<td><%= user.get('firstname') %></td>
				<td><%= user.get('lastname') %></td>
				<td><%= user.get('age') %></td>
				</tr>
			<% });%>
			</tbody>

 			</table>
 </script>

  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" ></script>
    <script >
    
    
    
    var Users= Backbone.Collection.extend({
    			url: '/users'
    
    });
    
    var UserList= Backbone.View.extend({
		        el: '.page',
		        render: function(){
		        var that= this;
			    var users= new Users();
			    console.log(users);
			 
				    users.fetch({
					    success : function(users){
					    console.log(users,"This is users data");
					    
					      var template = _.template($('#user-list-template').html(), {users: users.models});
						    
						    that.$el.html(template);
    }
    });
    }
    });
    
    var Router= Backbone.Router.extend({
			    routes: {
			    '' : 'home',
			    'new': 'editUser'
    }
    });
    
    var userList= new UserList();
    //var users= new Users();
     
    var router= new Router();
    router.on('route:home', function(){
    userList.render();
    
    });
     
    router.on('route:editUser', function() {
     console.log("show user form");

    });
    Backbone.history.start();
   </script>
   
     
  </body>
</html>
