					<!DOCTYPE html>
					<html>
					  <head>
					    <meta charset="utf-8">
					    <title></title>
					    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap-flex.css">
					    </head>
					    <body>
					    <div class="container">
					    <h1 align="center">Contact Manager</h1>
					    <hr/>
					    <div class="page">
					
					    </div>
					</div>
					
					<script type="text/template" id="user-list-template">
					<center><a href="#/new" align="center" class="btn btn-primary centered">Add New</a></center><br/>
					<table class="table stripped">
  					<thead>
    				<tr>
      				<th>First name</th>
      				<th>Last name</th>
      				<th>Age</th>
      				<th></th>
    				</tr>
  					</thead>
 					<tbody>
   				    <% _.each(users, function(user) { %>
     				 <tr>
        			<td><%= user.get('firstname') %></td>
        			<td><%= user.get('lastname') %></td>
        			<td><%= user.get('age') %></td>
        			<td><a href="#/edit/<%= user.id %>" class="btn btn-primary">Edit</a></td>
       				<!--<td><a href="#/delete/<%= user.id %>" class="btn btn-primary">Delete</a></td>-->

      			</tr>

  				<%  }); %>
  				</tbody>
				</table>
				</script>
					
					
					<script type="text/template" id="edit-user-template">
					<form class="edit-user-form">
					<legend><%= user ? 'Update' :'Create'  %>User</legend>
					<label>Firstname</label>
					<input type="text" name="firstname" value="<%= user ? user.get('firstname') : '' %>" />
					<label>Lastname</label>
					<input type="text" name="lastname" value="<%= user ? user.get('lastname') : '' %>" />
					<label> Age</label>
					<input type="text" name="age" value="<%= user ? user.get('age') : '' %>" />
					<hr/>
					<button type="submit" class="btn"><%= user ? 'Update' :'Create'  %></button>
					<% if(user) { %>
					<input type="hidden" name="id" value="<%= user.id %>" />
					<button id="<%= user.id %>"type="button" class="btn btn-danger delete" >Delete</button>
					<% }; %>

					</form>

					</script>
					
					
					
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" ></script>
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" ></script>
					   
					  <script >
					  $.fn.serializeObject = function(){
					  var o={};
					  var a=this.serializeArray();
					     $.each(a, function(){
					        if(o[this.name]!=undefined){
					           if(!o[this.name].push){
					              o[this.name]=[o[this.name]];
					           }
					        o[this.name].push(this.value || '');
					  }else{
					  o[this.name] = this.value || '';
					  }
					  });
					  return o;
					  };
					
					
					
					      var Users = Backbone.Collection.extend({
					      url : '/users'
					      });
					      
					      var User = Backbone.Model.extend({
					      urlRoot : '/users'
					      });
					      
					      
					
					    var UserList = Backbone.View.extend({
					      el: '.page',
					      render: function(){
					      var that=this;
					      var users = new Users();
					      users.fetch({
					         success: function(users){
					         console.log(users);
					           var template= _.template($('#user-list-template').html(), {users : users.models});
					            that.$el.html(template);
					         }
					       })
					
					
					
					     }
					
					   });
					   
					   var EditUser = Backbone.View.extend({
					   el: '.page',
					   model : Users,
					   render: function(options){
					   var that= this;
					   if(options.id){
					    var user= new User({id: options.id});
					    user.fetch({
					    success: function(user){
					      var template= _.template($('#edit-user-template').html(), {user: user});
					            that.$el.html(template);
					    }
					    
					    
					    })
					   }else{
					   var template= _.template($('#edit-user-template').html(), {user: null});
					            this.$el.html(template);
					   }
					   
					   },
					   events: {
					   'submit .edit-user-form' : 'saveUser',
					   'click .delete' : 'deleteUser'
					   
					   },
					   
					   
					   
					   saveUser : function(ev){
					   var userDetails = $(ev.currentTarget).serializeObject();
					   var user = new User();
					       user.save(userDetails, {
					        success: function(user){
					          console.log(user.toJSON());
					          router.navigate('',{trigger:true});
					          
					   }
					   
					   })
					   console.log(userDetails);
					   return false;
					   },
					   
					   
					   deleteUser : function(event){
					   var self = this;
					   console.log(event);
					   var ids = event.target.id;
					    console.log(ids);
					    var user = new User({id : ids});
					    var usersDelete= new Users();
					   user.destroy({
					   success: function(user){
					  
					    router.navigate('',{trigger:true});
					   }
					   });
					   return false;
					   }  
					   });
					
					    var Router = Backbone.Router.extend({
					      routes: {
					        '': 'home',
					        'new': 'editUser',
					        'edit/:id' : 'editUser',
					        'delete/:id' : 'editUser'
					      }
					    });
					
					
					    var userList = new UserList();
					    var editUser = new EditUser();
					
					   var router = new Router();
					   router.on('route:home', function() {
					      userList.render();
					
					    });
					    
					    router.on('route:editUser', function(id) {
					    editUser.render({id: id});
					
					    });
					   Backbone.history.start();
					
					    </script>
					  </body>
					</html>
